@import "tailwindcss";

:root {
  --background: oklch(0.2002 0 0);
  --deeper-background: oklch(0.1913 0 0);
  --foreground: oklch(1 0 0);
  --secondary: oklch(0.3904 0 0);
  --muted-foreground: oklch(0.7794 0 0);
}
@theme inline {
  --font-title: var(--font-urbanist);
  --font-body: var(--font-aeonik);

  --color-background: var(--background);
  --color-deeper-background: var(--deeper-background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-muted-foreground: var(--muted-foreground);
}

.my-container {
  @apply mx-auto max-w-[100rem] px-24;
}
