---
import Avatar from "../components/Avatar.astro";
import Texture from "../components/Texture.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="dark bg-[#121212] h-screen font-lora flex items-center justify-center"
  >
    <div class="flex flex-col justify-center gap-2 text-center">
      <Avatar />
      <h1 class="text-5xl font-medium text-[#ECEDEE]">Hamzat Victor</h1>
      <p class="text-base italic text-[#787f85]">
        Self-taught design engineer passionate about creating world class user
        experiences.
      </p>
    </div>
    <Texture />
  </body>
</html>
<script>
  import { PowerGlitch } from "powerglitch";
  const heading = document.querySelector("div");
  if (!heading) {
    throw new Error("Heading element not found");
  }
  PowerGlitch.glitch(heading, {
    timing: {
      duration: 4000,
    },
  });
</script>
