---
import Avatar from "../components/avatar.astro";
import Texture from "../components/texture.astro";
import BaseHead from "../components/base-head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Navbar } from "@/components/navbar";
import Hero from "@/components/hero.astro";
import RecentWorks from "@/components/recent-works.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-body bg-background text-foreground relative min-h-screen">
    <Navbar client:load />
    <Hero />
    <RecentWorks />
    <div class="h-screen"></div>
    <div class="h-screen"></div>
    <div class="h-screen"></div>
    <!-- <Texture /> -->
  </body>
</html>
