---

---

<section class="bg-deeper-background min-h-screen py-8">
  <div class="my-container">
    <div class="grid place-items-center">
      <div class="font-title flex flex-col items-end">
        <p class="text-muted-foreground text-xl">From 2022 till today</p>
        <h2 class="text-6xl font-semibold">Recent Works</h2>
      </div>
    </div>
  </div>
</section>
